.shape-page-wrapper {
  max-width: 70%;
  padding: 20px;
  -webkit-box-shadow: 6px 15px 76px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 15px 76px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 15px 76px -19px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.5);
}
